@model HotCatCafe.BLL.ViewModels.CategoryViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_ManagementPanelLayout.cshtml";
}

<h1>Delete</h1>

<form method="post">
    <label asp-for="CategoryName"></label>
    <input type="text" asp-for="CategoryName" />

    <label asp-for="ID">Catwegory Id</label>
    <input type="number" asp-for="ID" />

    <button type="submit">Sil </button>
</form>
